<%= render "shared/errors", object: @price_list %>

<%= form_with(model: [:sales, @price_list], data: { controller: "price-list" }) do |form| %>
  <div class="form-group">
    <%= form.label :description, "Descrição" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :active, "Ativa?" %>
    <%= form.check_box :active %>
  </div>

  <!-- Seleção de Product Portions -->
  <div class="list-select">
    <!-- Seleção de Product Portions -->
    <div class="form-group flex-item">
      <%= form.label :product_portion_ids, "Porções de Produto" %>
      <%= form.collection_select :product_portion_ids,
            ProductPortion.all, :id, :label,
            {}, { multiple: true, class: "form-control tall-select" } %>
    </div>

    <!-- Seleção de Channels -->
    <div class="form-group flex-item">
      <%= form.label :channel_ids, "Canais de Venda" %>
      <%= form.collection_select :channel_ids,
            Channel.all, :id, :description,
            {}, { multiple: true, class: "form-control tall-select" } %>
    </div>
  </div>


  <!-- Regras -->
  <h4 class="subtitle">Faixas de Quantidade</h4>
  <div id="rules-container" data-price-list-target="rulesContainer">
    <%= form.fields_for :price_list_rules do |rule_form| %>
      <%= render "rule_fields", f: rule_form %>
    <% end %>
  </div>

  <template id="rule-template">
    <%= form.fields_for :price_list_rules, PriceListRule.new, child_index: "NEW_RECORD" do |rule_form| %>
      <%= render "rule_fields", f: rule_form %>
    <% end %>
  </template>

  <%= button_tag "Adicionar Faixa", type: "button",
        class: "mini-button",
        data: { action: "price-list#addRule" } %>

  <div class="actions">
    <%= form.submit "Salvar", class: "action-button" %>
  </div>
<% end %>