<div class="form-group">
  <%= f.label :product_portion_id, "Porção do Produto" %>
  <%= f.collection_select :product_portion_id, ProductPortion.all, :id, :description, { prompt: "Selecione" }, class: "form-control" %>
</div>

<h4>Faixas de Quantidade</h4>
<div id="rules-container">
  <%= f.fields_for :price_list_rules do |rule_form| %>
    <%= render "rule_fields", f: rule_form %>
  <% end %>
</div>

<%= button_tag "Adicionar Faixa", type: "button", class: "btn btn-secondary", data: { action: "price-list#addRule" } %>