<main class="index-container">
  <h1>Detalhes do Canal</h1>

  <table class="vertical-table--bordered">
    <tr>
      <th>Nome:</th>
      <td><%= @channel.description %></td>
    </tr>
    <tr>
      <th>Tipo de Canal:</th>
      <td><%= @channel.channel_type %></td>
    </tr>
    <tr>
      <th>Percentagem do Canal:</th>
      <td><%= number_to_percentage(@channel.channel_cost, precision: 2) %></td>
    </tr>
  </table>

  <div class="mt-3">
    <%= link_to "Editar", edit_channel_path(@channel), class: "standart-button" %>
    <%= link_to "Voltar", channels_path, class: "standart-button" %>
  </div>
</main>