<p style="color: green"><%= notice %></p>

<%= render @channel %>

<div>
  <%= link_to "Editar", edit_channel_path(@channel), class: "action-button" %> |
  <%= link_to "Voltar", channels_path, class: "action-button" %> |
  <%= button_to "Excluir", @channel, method: :delete, class: "standart-button" %>
</div>
