<%= form_with(model: @production_simulation, data: { controller: "simulation" }) do |f| %>
  <div class="field">
    <%= f.label :product_id, "Produto", class: "custom-label" %>
    <%= f.collection_select :product_id, Product.all, :id, :description,
          { prompt: "Selecione um produto" },
          {
            class: "form-select",
            data: {
              controller: "select2 simulation", # 👈 os dois controllers no mesmo elemento
              simulationTarget: "productSelect",
              action: "change->simulation#updateTables"
            }
          } %>
  </div>

  <div class="field">
    <%= f.label :quantity_in_grams, "Quantidade (g)", class: "custom-label" %>
    <%= f.number_field :quantity_in_grams, step: 0.01,
          class: "form-control",
          data: {
            simulationTarget: "quantityField",
            action: "input->simulation#updateTables"
          } %>
  </div>

  <h4>Insumos Necessários</h4>
  <table class="index-table index-table--bordered" id="inputs-table">
    <thead>
      <tr>
        <th>Insumo</th>
        <th>Total (g)</th>
        <th>Custo Total</th>
        <th>Unidades Necessárias</th>
      </tr>
    </thead>
    <tbody>
      <!-- preenchido via JS -->
    </tbody>
  </table>

  <h4>Subprodutos</h4>
  <table class="index-table index-table--bordered" id="subproducts-table">
    <thead>
      <tr>
        <th>Subproduto</th>
        <th>Total (g)</th>
        <th>Custo Total</th>
      </tr>
    </thead>
    <tbody>
      <!-- preenchido via JS -->
    </tbody>
  </table>

  <h4>Produto Final</h4>
  <table class="index-table index-table--bordered" id="product-table">
    <thead>
      <tr>
        <th>Total (g)</th>
        <th>Custo Total</th>
        <th>Preço Mínimo</th>
        <th>Preço Total</th>
        <th>Lucro Varejo</th>
        <th>Lucro Atacado</th>
      </tr>
    </thead>
    <tbody>
      <!-- preenchido via JS -->
    </tbody>
  </table>

  <%= f.submit "Salvar Simulação", class: "action-button" %>
<% end %>