<%= form_with(model: @production_simulation, data: { controller: "simulation" }) do |f| %>
  <div class="field d-flex gap-3 align-items-end">
    
    <!-- Produto -->
    <div>
      <%= f.label :product_portion_id, "Porção de Produto", class: "custom-label" %>
      <%= f.select :product_portion_id,
            options_for_select(
              ProductPortion.includes(:product).map { |pp| ["#{pp.product.description} - #{pp.portioned_quantity}g", pp.id, { 'data-final-weight': pp.portioned_quantity }] },
              @production_simulation.product_portion_id
            ),
            { prompt: "Selecione uma porção" },
            { class: "form-select",
              data: { "simulation-target": "productSelect", action: "change->simulation#updateFromUnits" } } %>
    </div>

    <!-- Unidades -->
    <div>
      <%= f.label :product_units, "Unidades do Produto", class: "custom-label" %>
      <%= f.number_field :product_units, step: 1, min: 1,
            class: "form-control",
            data: { "simulation-target": "productUnitsField", action: "input->simulation#updateFromUnits" } %>
    </div>

    <!-- Quantidade em gramas -->
    <div>
      <%= f.label :quantity_in_grams, "Quantidade (g)", class: "custom-label" %>
      <%= f.number_field :quantity_in_grams, step: 0.01,
            class: "form-control", readonly: true,
            data: { "simulation-target": "quantityField" } %>
    </div>

    <!-- Quantidade em kg -->
    <div>
      <%= f.label :quantity_in_kg, "Quantidade (kg)", class: "custom-label" %>
      <%= number_field_tag :quantity_in_kg,
            nil,
            step: 0.001,
            class: "form-control",
            readonly: true,
            data: { "simulation-target": "quantityKgField" } %>
    </div>
  </div>

  <!-- Tabelas -->
  <h4>Insumos Necessários</h4>
  <table class="index-table index-table--bordered" id="inputs-table">
    <thead>
      <tr>
        <th>Insumo</th>
        <th>Total (g)</th>
        <th>Custo Total</th>
        <th>Unidades Necessárias</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <h4>Subprodutos</h4>
  <table class="index-table index-table--bordered" id="subproducts-table">
    <thead>
      <tr>
        <th>Subproduto</th>
        <th>Total (g)</th>
        <th>Custo Total</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <h4>Produto Final</h4>
  <table class="index-table index-table--bordered" id="product-table">
    <thead>
      <tr>
        <th>Total (g)</th>
        <th>Unidades Produzidas</th>
        <th>Custo Total</th>
        <th>Preço Mínimo</th>
        <th>Faturamento Previsto Total</th>
        <th>Lucro (%)</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <%= f.submit "Salvar Simulação", class: "action-button" %>
<% end %>