<main class="index-container">
  <h2 class="title">Simulação de Produção</h2>

  <table class="index-table index-table--bordered">
    <tr>
      <th>Produto</th>
      <td><%= @production_simulation.product.description %></td>
    </tr>
    <tr>
      <th>Unidades</th>
      <td><%= @production_simulation.product_units %></td>
    </tr>
    <tr>
      <th>Quantidade (g)</th>
      <td><%= number_with_precision(@production_simulation.quantity_in_grams, precision: 2) %></td>
    </tr>
    <tr>
      <th>Quantidade (kg)</th>
      <td><%= number_with_precision(@production_simulation.quantity_in_grams / 1000, precision: 3) %></td>
    </tr>
  </table>

  <h4 class="subtitle">Insumos Necessários</h4>
  <table class="index-table index-table--bordered">
    <thead>
      <tr>
        <th>Insumo</th>
        <th>Total (g)</th>
        <th>Custo Total</th>
        <th>Unidades Necessárias</th>
      </tr>
    </thead>
    <tbody>
      <% @production_simulation.simulation_inputs.each do |input| %>
        <tr>
          <td><%= input.input.name %></td>
          <td><%= number_with_precision(input.total_quantity, precision: 2) %></td>
          <td><%= number_to_currency(input.total_cost) %></td>
          <td><%= number_with_precision(input.required_units, precision: 2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h4 class="subtitle">Subprodutos</h4>
  <table class="index-table index-table--bordered">
    <thead>
      <tr>
        <th>Subproduto</th>
        <th>Total (g)</th>
        <th>Custo Total</th>
      </tr>
    </thead>
    <tbody>
      <% @production_simulation.simulation_subproducts.each do |sp| %>
        <tr>
          <td><%= sp.subproduct.name %></td>
          <td><%= number_with_precision(sp.total_quantity, precision: 2) %></td>
          <td><%= number_to_currency(sp.total_cost) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h4 class="subtitle">Produto Final</h4>
  <table class="index-table index-table--bordered">
    <thead>
      <tr>
        <th>Total (g)</th>
        <th>Unidades Produzidas</th>
        <th>Custo Total</th>
        <th>Preço Mínimo</th>
        <th>Faturamento Previsto Total</th>
        <th>Lucro Varejo (R$)</th>
        <th>Lucro Atacado (R$)</th>
      </tr>
    </thead>
    <tbody>
      <% @production_simulation.simulation_products.each do |prod| %>
        <tr>
          <td><%= number_with_precision(prod.total_quantity, precision: 2) %></td>
          <td><%= prod.product_units %></td>
          <td><%= number_to_currency(prod.total_cost) %></td>
          <td><%= number_to_currency(prod.minimum_selling_price) %></td>
          <td><%= number_to_currency(prod.total_selling_price) %></td>
          <td><%= number_to_currency(prod.total_retail_profit) %></td>
          <td><%= number_to_currency(prod.total_wholesale_profit) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>