<main class="logged-system">
  <% @system_admins_user_admins.each do |user_admin| %>
    <div class="user-admin">
      <p><strong>Nome:</strong> <%= user_admin.full_name %></p>
      <p><strong>E-mail:</strong> <%= user_admin.email %></p>
      <p><strong>Telefone:</strong> <%= user_admin.phone %></p>
      <p><strong>Admin geral?:</strong> <%= user_admin.admin ? "Sim" : "Não" %></p>
    </div>

    <div class="actions">
      <%# <%= link_to "Ver", system_admins_user_admin_path(user_admin), class: "action-button" %>
      <%= link_to "Editar", edit_system_admins_user_admin_path(user_admin), class: "action-button" %>
    </div>
    <hr>
  <% end %>
</main>