<div id="<%= dom_id quote %>">
  <p>
    <strong>Client:</strong>
    <%= quote. client_id %>
  </p>

  <p>
    <strong>Channel cost:</strong>
    <%= quote. channel_cost %>
  </p>

  <p>
    <strong>Bank slip cost:</strong>
    <%= quote. bank_slip_cost %>
  </p>

  <p>
    <strong>Card cost:</strong>
    <%= quote. card_cost %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= quote. status %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= quote. total %>
  </p>

</div>
