<div id="<%= dom_id package_composition %>">
  <p>
    <strong>Package:</strong>
    <%= package_composition. package_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= package_composition. product_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= package_composition. weight %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= package_composition. discount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= package_composition. price %>
  </p>

  <p>
    <strong>Subprice:</strong>
    <%= package_composition. subprice %>
  </p>

</div>
