<%= form_with(model: @message, url: @message.new_record? ? system_admins_messages_path : system_admins_message_path(@message)) do |f| %>
  <div>
    <%= f.label :title, "Título" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body, "Mensagem" %>
    <%= f.hidden_field :body, id: "message_body" %>
    <div id="quill-editor" style="height: 300px;"></div>
  </div>

  <div>
    <%= f.label :client_ids_text, "IDs de Clientes (separados por vírgula)" %>
    <%= f.text_area :client_ids_text, class: "form-control" %>
  </div>

  <div>
    <%= f.label :plan_ids, "Planos" %>
    <%= f.collection_select :plan_ids, @plans, :id, :description, {}, { multiple: true, class: "form-select" } %>
  </div>

  <div>
    <%= f.label :start_date, "Data Inicial" %>
    <%= f.date_field :start_date, class: "form-control" %>
  </div>

  <div>
    <%= f.label :end_date, "Data Final" %>
    <%= f.date_field :end_date, class: "form-control" %>
  </div>

  <div>
    <%= f.label :start_hour, "Hora Inicial" %>
    <%= f.time_field :start_hour, class: "form-control" %>
  </div>

  <div>
    <%= f.label :end_hour, "Hora Final" %>
    <%= f.time_field :end_hour, class: "form-control" %>
  </div>

  <%= f.submit "Salvar", class: "action-button" %>
<% end %>