<%= form_with model: professional,
              scope: :professional,
              url: professional.persisted? ? clients_services_professional_path(professional) : clients_services_professionals_path,
              local: true do |form| %>
  <div>
    <%= form.label :full_name, "Nome completo", style: "display: block", class: "custom-label" %>
    <%= form.text_field :full_name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :role_id, "Função", style: "display: block", class: "custom-label" %>
    <%= form.select :role_id,
          options_for_select(
            [["+ CRIAR FUNÇÃO", "new_role", { class: "new-role-option" }]] +
            @roles.pluck(:description, :id),
            form.object.role_id
          ),
          { prompt: "Selecione" },
          {
            class: "form-select",
            id: "roles_select",
            data: {
              controller: "new-role-professionals",
              action: "change->new-role-professionals#openModalIfNew",
              new_role_professionals_target: "select"
            }
          } %>
  </div>

  <div>
    <%= form.label :cpf, "CPF", style: "display: block", class: "custom-label" %>
    <%= form.text_field :cpf, class: "form-control" %>
  </div>

  <div>
    <%= form.label :company_name, "Empresa", style: "display: block", class: "custom-label" %>
    <%= form.text_field :company_name, class: "form-control" %>
  </div>

  <div>
    <%= form.label :cnpj, "CNPJ", style: "display: block", class: "custom-label" %>
    <%= form.text_field :cnpj, class: "form-control" %>
  </div>

  <div>
    <%= form.label :hourly_rate, "Valor atual (R$/h)", style: "display: block", class: "custom-label" %>
    <%= form.number_field :hourly_rate, step: 0.01, class: "form-control" %>
  </div>

  <div>
    <%= form.submit (professional.persisted? ? "Atualizar" : "Criar"), class: "standart-button" %>
  </div>
<% end %>

<%= render "services/roles/new_modal" %>