<main class="index-container">
  <div id="<%= dom_id professional %>">
    <p>
      <strong>Full name:</strong>
      <%= professional. full_name %>
    </p>

    <p>
      <strong>Role:</strong>
      <%= professional. role_id %>
    </p>

    <p>
      <strong>Cpf:</strong>
      <%= professional. cpf %>
    </p>

    <p>
      <strong>Company name:</strong>
      <%= professional. company_name %>
    </p>

    <p>
      <strong>Cnpj:</strong>
      <%= professional. cnpj %>
    </p>

    <p>
      <strong>Average hourly rate:</strong>
      <%= professional. average_hourly_rate %>
    </p>

    <p>
      <strong>Hourly rate:</strong>
      <%= professional. hourly_rate %>
    </p>

  </div>
</main>