<main class="index-container">
  <% content_for :title, "Detalhes do profissional" %>
  <h1><%= @professional.full_name %></h1>

  <%= render @professional %>

  <div>
    <%= link_to "Editar", edit_services_professional_path(@professional), class: "action-button" %> |
    <%= link_to "Voltar", clients_services_professionals_path, class: "action-button" %> |
    <%= button_to "Excluir",
                  services_professional_path(@professional),
                  method: :delete,
                  class: "action-button",
                  data: { confirm: "Confirma exclusão?" } %>
  </div>
</main>