<% content_for :title, "Detalhes do profissional" %>
<h1><%= @professional.full_name %></h1>

<%= render @professional %>

<div>
  <%= link_to "Editar", edit_services_professional_path(@professional) %> |
  <%= link_to "Voltar", services_professionals_path %> |
  <%= button_to "Excluir",
                services_professional_path(@professional),
                method: :delete,
                data: { confirm: "Confirma exclusão?" } %>
</div>