<div id="<%= dom_id equipment %>">
  <p>
    <strong>Description:</strong>
    <%= equipment. description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= equipment. value %>
  </p>

  <p>
    <strong>Depreciation percent:</strong>
    <%= equipment. depreciation_percent %>
  </p>

  <p>
    <strong>Depreciation value:</strong>
    <%= equipment. depreciation_value %>
  </p>

</div>
