<div id="<%= dom_id sales_target %>">
  <p>
    <strong>Package:</strong>
    <%= sales_target.package_id %>
  </p>

  <p>
    <strong>Monthly target:</strong>
    <%= sales_target.monthly_target %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= sales_target.channel_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= sales_target.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= sales_target.end_date %>
  </p>

</div>
