<!-- app/views/sales_targets/index.html.erb -->
<h1>Metas de Vendas</h1>
<%= link_to "[+] Criar Meta de Venda",
            new_sales_target_path,
            class: "standart-button" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Meta Mensal</th>
      <th>Data Inicial</th>
      <th>Data Final</th>
      <th>Custo Fixo Distribuído</th>
      <th>Ações</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "sales_target",
               collection: @sales_targets,
               as:         :sales_target %>

    <tr class="table-footer">
      <td><strong>Total</strong></td>
      <td><%= @sales_target_sum %></td>

      <!-- Ajuste de colspan para encaixar a coluna Ações -->
      <td colspan="5"></td>
    </tr>
    <tr>
      <td><strong>Total Ativas</strong></td>
      <td><%= @sales_target_active_sum %></td>
      <!-- “quebra” de colunas pra alinhar -->
      <td colspan="2"></td>
      <td><strong>Custo Fixo / Unidade Ativa</strong></td>
      <td>
        <%= number_to_currency(
              @total_fixed_cost.to_f / (@sales_target_active_sum.nonzero? || 1)
            ) %>
      </td>
    </tr>
  </tbody>
</table>