<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "auth-form" }) do |f| %>

  <h2>Cadastro</h2>

  <% if resource.errors.any? %>
    <div class="error-messages">
        <h4><%= pluralize(resource.errors.count, "erro") %> impediram o cadastro:</h4>
        <ul>
        <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

  <%= f.email_field :email, placeholder: "E-mail" %>
  <%= f.password_field :password, placeholder: "Senha" %>
  <%= f.password_field :password_confirmation, placeholder: "Confirmação da senha" %>
  <div class="actions">
    <%= f.submit "Criar conta" %>
  </div>
<% end %>
