<main class="index-container">
  <p style="color: green"><%= notice %></p>

  <%= render @energy %>

  <div>
    <%= link_to "Editar", edit_clients_services_energy_path(@energy), class: "action-button" %> |
    <%= link_to "Voltar para Energias", clients_services_energies_path, class: "standart-button" %>

    <%= button_to "Excluir",
                  clients_services_energies_path(@energy),
                  method: :delete,
                  class: "action-button",
                  data: { confirm: "Are you sure?" } %>
  </div>
</main>