<h1>Insumos</h1>

<%= link_to "Novo Insumo", new_input_path, class: "standart-button" %><br>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Insumo</th>
      <th>Tipo</th>
      <th>Custo (R$)</th>
      <th>Fornecedor</th>
      <th>Peso</th>
      <th>Unidade</th>
      <th>Imagem</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @inputs.each do |input| %>
      <tr>
        <td><%= input.id %></td>
        <td><%= input.name %></td>
        <td><%= input.input_type&.name || "-" %></td>
        <td>R$ <%= number_with_precision(input.cost, precision: 2, separator: ',', delimiter: '.') %></td>
        <td><%= input.supplier&.name || "-" %></td>
        <td><%= input.weight %></td>
        <td><%= input.unit_of_measurement %></td>
        <td>
          <% if input.image.attached? %>
            <%= image_tag input.image.url, class: "index_image", alt: input.name %>
          <% else %>
            Nenhuma
          <% end %>
        </td>
        <td>
          <%= link_to "Editar", edit_input_path(input), class: "action-button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>