<main class="index-container">
  <h1 class="title" >Detalhes do Insumo "<%= @input.name %>"</h1>

  <div class="custom-label">
    <%= link_to "Editar Insumo",
            edit_input_path(@input),
            class: "action-button" %>
    <%= link_to "Voltar", inputs_path, class: "action-button" %>
  </div>

  <div class="space"></div>

  <div class="detailed-box">
    <div>
      <p class="detailed-text">
        <strong>ATENÇÃO!</strong> Edite isso com cuidado. Outros itens podem depender deste Insumo.
      </p>                 
      <p class="dependent-item-count">
        <%= "Você tem " + "#{pluralize(@subproducts_count, 'Subproduto')} | " \
            "#{pluralize(@services_count, 'Serviço')}" + " utilizando este item" %>.
        <a href="#" data-bs-toggle="modal" data-bs-target="#assocModal">
          Clique aqui e veja a lista.
        </a>
      </p>

      <div>
        <%= render "input_dependent_items_modal",
                  subproducts: @subproducts,
                  services: @services %>
      </div>
    </div>
  </div>

  <table class="index-table index-table--bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tipo de Insumo</th>
        <th>Custo (R$)</th>
        <th>Fornecedor</th>
        <th>Unidade</th>
        <th>Peso</th>
        <th>Marca</th>
        <th>Imagem</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @input.id %></td>
        <td><%= @input.input_type&.name || "-" %></td>
        <td>
          <%= number_to_currency(
                @input.cost,
                unit:   "R$ ",
                delimiter: ".",
                separator: ","
              ) %>
        </td>
        <td><%= @input.supplier&.name || "-" %></td>
        <td><%= @input.unit_of_measurement %></td>
        <td><%= @input.weight %></td>
        <td><%= @input.brand&.name || "-" %></td>
        <td>
          <% if @input.image.attached? %>
            <%= image_tag(
                  url_for(@input.image),
                  alt:   @input.name,
                  style: "max-height:100px; width:auto;",
                  class: "index-images"
                ) %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
      <tr>
        <th scope="row">Criado em</th>
        <td colspan="7">
          <%= l(@input.created_at, format: "%d/%m/%Y %H:%M")  %>
        </td>
      </tr>
      <tr>
        <th scope="row">Última atualização</th>
        <td colspan="7">
          <%= l(@input.updated_at, format: "%d/%m/%Y %H:%M") %>
        </td>
      </tr>
    </tbody>
  </table>

  <% if @input.resalable_product? %>
    <div>
      <h3 class="subtitle">Configurações de produto de revenda</h3>

      <table class="index-table index-table--bordered">
        <thead>
          <tr>
            <th>Margem Adicionada (%)</th>
            <th>Preço de venda</th>
            <th>Margem Real (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= number_with_precision(@input.profit_margin.to_f, precision: 2) %></td>
            <td>
              <%= number_to_currency(@input.selling_price.to_f,
                    unit: "R$ ", delimiter: ".", separator: ",") %>
            </td>
            <td><%= number_with_precision(@input.real_profit_margin.to_f, precision: 2) %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>

  <!-- Accordions -->
  <div class="accordion" id="inputAccordion">

    <!-- Tabela Nutricional -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingNutritional">
        <button class="accordion-button collapsed" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseNutritional"
                aria-expanded="false" aria-controls="collapseNutritional">
          Informações Nutricionais
        </button>
      </h2>
      <div id="collapseNutritional" class="accordion-collapse collapse"
           aria-labelledby="headingNutritional" data-bs-parent="#inputAccordion">
        <div class="accordion-body">
          <%= render 'nutritional_table_show' %>
        </div>
      </div>
    </div>

    <!-- Preço por Canal -->
    <% if @input.resalable_product? %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingChannels">
          <button class="accordion-button collapsed" type="button"
                  data-bs-toggle="collapse" data-bs-target="#collapseChannels"
                  aria-expanded="false" aria-controls="collapseChannels">
            Preço Final por Canal
          </button>
        </h2>
        <div id="collapseChannels" class="accordion-collapse collapse"
            aria-labelledby="headingChannels" data-bs-parent="#inputAccordion">
          <div class="accordion-body">
            <%= render "inputs/channels",
                      input: @input,
                      channel_rows: @input.channel_inputs %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div>                 
    <%= render "input_cost_history", cost_history: @cost_history %>
  </div>

  <%= link_to "Voltar", inputs_path, class: "standart-button" %>
</main>