<div data-service-nested-form-target="item" class="nested-fields">
  <div class="field">
    <%= f.label :energy_id, "Energy" %>
    <%= f.collection_select :energy_id,
                            @available_energies,
                            :id,
                            :description,
                            { prompt: "Selecione Energia" },
                            class: "form-control",
                            data: { action: "change->service-nested-form#loadCost" } %>
  </div>

  <div class="field">
    <%= f.label :hours_per_service, "Horas de Serviço" %>
    <%= f.number_field :hours_per_service,
                       step: 0.5,
                       class: "form-control",
                       data: { action: "input->service-nested-form#updateCost" } %>
  </div>

  <div class="field">
    <%= f.label :cost, "Cost (R$)" %>
    <%= f.number_field :cost,
                       readonly: true,
                       class: "form-control",
                       data: { target: "service-nested-form.cost" } %>
  </div>

  <%= f.hidden_field :_destroy, class: "destroy-flag" %>

  <div class="field remove-btn">
    <%= link_to "Excluir", "#",
                class: "mini-button",
                data: { action: "service-nested-form#remove" } %>
  </div>
</div>