<div id="<%= dom_id service %>">
  <p>
    <strong>Description:</strong>
    <%= service. description %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= service. role_id %>
  </p>

  <p>
    <strong>Total seconds:</strong>
    <%= service. total_seconds %>
  </p>

  <p>
    <strong>Tax percent:</strong>
    <%= service. tax_percent %>
  </p>

  <p>
    <strong>Profit margin percent:</strong>
    <%= service. profit_margin_percent %>
  </p>

  <p>
    <strong>Final price:</strong>
    <%= service. final_price %>
  </p>

</div>
