<div data-service-nested-form-target="item" class="nested-fields">
  <%= f.hidden_field :id %>
  <!-- Select de Product -->
  <div class="field">
    <%= f.label :product_id, "Product" %>
    <%= f.collection_select :product_id,
                            @available_products,
                            :id,
                            :description,
                            { prompt: "Selecione Product" },
                            class: "form-control",
                            data: { action: "change->service-nested-form#loadCost" } %>
  </div>

  <!-- Quantidade -->
  <div class="field">
    <%= f.label :quantity_for_service, "Quantidade (g)" %>
    <%= f.number_field :quantity_for_service,
                       step: 0.01,
                       class: "form-control",
                       data: { action: "input->service-nested-form#updateCost" } %>
  </div>

  <!-- Custo -->
  <div class="field">
    <%= f.label :cost, "Cost (R$)" %>
    <%= f.number_field :cost,
                       readonly: true,
                       class: "form-control",
                       data: { "service-nested-form-target": "cost" } %>
  </div>

  <!-- Flag para remoção -->
  <%= f.hidden_field :_destroy, class: "destroy-flag" %>

  <!-- Botão remover -->
  <div class="field remove-btn">
    <%= link_to "Excluir", "#",
                class: "mini-button",
                data: { action: "service-nested-form#remove" } %>
  </div>
</div>