<h1>Listagem de Serviços</h1>

<div>
  <%= link_to "[+] Criar Serviço", new_clients_services_service_path, class: "action-button" %>
</div>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Cargo</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.description %></td>
        <td><%= service.role.name %></td>
        <td><%= link_to "Mostrar", services_service_path(service) %></td>
        <td><%= link_to "Editar", edit_services_service_path(service) %></td>
        <td>
          <%= link_to "Apagar",
                      services_service_path(service),
                      method: :delete,
                      data: { confirm: "Confirma exclusão?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>