<p style="color: green"><%= notice %></p>

<%= render @service %>

<div class="index-container">
  <%= link_to "Editar", edit_service_path(@service), class: "action-button"  %> |
  <%= link_to "Voltar", services_path, class: "action-button" %>
  <%= button_to "Excluir", @service, method: :delete, class: "action-button"  %>
</div>