<div id="<%= dom_id banner %>">
  <p>
    <strong>Image:</strong>
    <%= banner.image %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= banner.link %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= banner.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= banner.end_date %>
  </p>

</div>
