<%= form_with(model: @banner, local: true) do |f| %>
  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>

  <div class="field">
    <%= f.label :interval, "Intervalo (ms)" %>
    <%= f.number_field :interval %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
    <% if banner.image.present? %>
      <%= image_tag banner.image, width: 200 %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :plan_id, "Plano" %>
    <%= f.collection_select :plan_id, SystemAdmins::Plan.all, :id, :description,
          { include_blank: "Todos os planos" }, class: "form-select" %>
  </div>

  <div class="field">
    <%= f.label :client_ids_csv, "Clientes específicos (IDs separados por vírgula)" %>
    <%= f.text_field :client_ids_csv, value: @banner.clients.pluck(:id).join(","), class: "form-control" %>
  </div>

  <%= f.submit %>
<% end %>