<main class="logged-system">
  <p style="color: green"><%= notice %></p>

  <p>
    <strong>Link:</strong>
    <%= @banner.link %>
  </p>

  <p>
    <strong>Período:</strong>
    <%= l(@banner.start_date) %> até <%= l(@banner.end_date) %>
  </p>

  <p>
    <strong>Imagem:</strong><br>
    <%= image_tag @banner.image if @banner.image.present? %>
  </p>

  <div>
    <%= link_to "Edit this banner", edit_system_admins_banner_path(@banner) %> |
    <%= link_to "Back to banners", system_admins_banners_path %> |
    <%= link_to "Destroy", system_admins_banner_path(@banner),
                method: :delete,
                data: { confirm: "Tem certeza?" } %>
  </div>
</main>