<div class="menu-horizontal">
  <a href="/" class="logo-link">
    <%= image_tag("precifikA-negative.png", width: 120, alt: "Logo PrecifikApp") %>
  </a>

  <%= link_to "Dashboard", root_path, class: "menu-item" %>
  <%= link_to "Produtos", products_path, class: "menu-item" %>
  <%= link_to "Subprodutos", subproducts_path, class: "menu-item" %>
  <%= link_to "Insumos", inputs_path, class: "menu-item" %>
  <%= link_to "Tipos de Insumo", input_types_path, class: "menu-item" %>
  <%= link_to "Fornecedores", suppliers_path, class: "menu-item" %>
  <%= link_to "Marcas", brands_path, class: "menu-item" %>
</div>