<div class="menu-horizontal">
  <a href="/" class="logo-link">
    <%= image_tag("logo-maxximiza_negativa_oficial.png", width: 120, alt: "Logo MaxximizaApp") %>
  </a>

  <%= link_to "Dashboard", root_path, class: "menu-item" %>
  <%= link_to "Pacotes", packages_path, class: "menu-item" %>
  <%= link_to "Produtos", products_path, class: "menu-item" %>
  <%= link_to "Subprodutos", subproducts_path, class: "menu-item" %>
  <%= link_to "Insumos", inputs_path, class: "menu-item" %>
</div>
<div class="submenu-horizontal">
  <%= link_to "Tributos", taxes_path, class: "submenu-item" %>
  <%= link_to "Custos", fixed_costs_path, class: "submenu-item" %>
  <%= link_to "Marcas", brands_path, class: "submenu-item" %>
  <%= link_to "Tipos de Insumo", input_types_path, class: "submenu-item" %>
  <%= link_to "Fornecedores", suppliers_path, class: "submenu-item" %>
</div>