<!-- app/views/shared/_navbar.html.erb -->
<nav class="menu-horizontal">
  <a href="/" class="logo-link">
    <%= image_tag "logo-maxximiza_negativa_oficial.png",
                  width: 120,
                  alt: "Logo MaxximizaApp" %>
  </a>

  <ul class="menu-list">
    <%= link_to "Dashboard", root_path, class: "menu-item" %>
    
    <li class="menu-item has-submenu">
      <span>Cadastros</span>
      <ul class="submenu">
        <li><%= link_to "Fornecedores",   suppliers_path,     class: "submenu-item" %></li>
        <li><%= link_to "Marcas",         brands_path,        class: "submenu-item" %></li>
        <li><%= link_to "Canais de Venda", channels_path,      class: "submenu-item" %></li>
        <li><%= link_to "Tipos de Insumo", input_types_path,   class: "submenu-item" %></li>
      </ul>
    </li>

    <li class="menu-item has-submenu">
      <span>Composições</span>
      <ul class="submenu">
        <li><%= link_to "Insumos",        inputs_path,        class: "submenu-item" %></li>
        <li><%= link_to "Subprodutos",    subproducts_path,   class: "submenu-item" %></li>
        <li><%= link_to "Produtos",       products_path,      class: "submenu-item" %></li>
        <li><%= link_to "Pacotes",        packages_path,      class: "submenu-item" %></li>
      </ul>
    </li>

    <li class="menu-item has-submenu">
      <span>Configurações</span>
      <ul class="submenu">
        <li><%= link_to "Custos Fixos",   fixed_costs_path,   class: "submenu-item" %></li>
        <li><%= link_to "Metas de Venda", sales_targets_path,   class: "submenu-item" %></li>
      </ul>
    </li>
  </ul>
</nav>
