<div class="system-admin-menu-horizontal">
  <a href="/" class="logo-link">
    <%= image_tag("logo-maxximiza_negativa_oficial.png", width: 120, alt: "Logo MaxximizaApp") %>
  </a>

  <!-- Dropdown Cadastros -->
  <div data-controller="dropdown" class="menu-item dropdown">
    <button data-action="click->dropdown#toggle"
            class="dropdown-toggle"
            aria-expanded="false">
      Cadastros
      <svg class="chevron" width="10" height="6"></svg>
    </button>
    <div data-dropdown-target="menu" class="dropdown-menu">
      <%= link_to "Clients", system_admins_clients_path, class: "dropdown-item" %>
      <%= link_to "User Clients", system_admins_user_clients_path, class: "dropdown-item" %>
    </div>
  </div>

  <!-- Dropdown Administração -->
  <div data-controller="dropdown" class="menu-item dropdown">
    <button data-action="click->dropdown#toggle"
            class="dropdown-toggle"
            aria-expanded="false">
      Administração
      <svg class="chevron" width="10" height="6"></svg>
    </button>
    <div data-dropdown-target="menu" class="dropdown-menu">
      <%= link_to "User Admins", system_admins_user_admins_path, class: "dropdown-item" %>
      <%= link_to "Plans", system_admins_plans_path, class: "dropdown-item" %>
      <%= link_to "Messages", system_admins_messages_path, class: "dropdown-item" %>
      <%= link_to "Banners", system_admins_banners_path, class: "dropdown-item" %>
    </div>
  </div>
</div>