<div id="<%= dom_id product_tax_override %>">
  <p>
    <strong>Product:</strong>
    <%= product_tax_override.product_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product_tax_override.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= product_tax_override.value %>
  </p>

  <p>
    <strong>Tax type:</strong>
    <%= product_tax_override.tax_type %>
  </p>

</div>
