<p style="color: green"><%= notice %></p>

<%= render @product_tax_override %>

<div>
  <%= link_to "Edit this product tax override", edit_product_tax_override_path(@product_tax_override) %> |
  <%= link_to "Back to product tax overrides", product_tax_overrides_path %>

  <%= button_to "Destroy this product tax override", @product_tax_override, method: :delete %>
</div>
