<p style="color: green"><%= notice %></p>

<%= render @system_admins_user %>

<div>
  <%= link_to "Edit this user", edit_system_admins_user_path(@system_admins_user) %> |
  <%= link_to "Back to users", system_admins_users_path %>

  <%= button_to "Destroy this user", @system_admins_user, method: :delete %>
</div>
