<%= form_with(model: @subproduct, url: update_composition_subproduct_path(@subproduct), method: :patch, local: false) do |f| %>
  <table id="compositions" class="table table-sm table-bordered">
    <thead>
      <tr>
        <th>Insumo</th>
        <th>Quantidade (g)</th>
        <th>Custo da Quantidade (R$)</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="compositions-tbody" data-controller="subproduct-nested-form" data-subproduct-nested-form-container-target="container">
      <%= f.fields_for :subproduct_compositions do |sc| %>
        <%= render 'subproduct_compositions_fields', f: sc %>
      <% end %>

      <tr>
        <td colspan="4">
          <%= link_to_add_fields "Adicionar Insumo", f, :subproduct_compositions, class: "add_input_fields", data: { action: "nested-form#addField" } %>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
    <%= f.submit "Finalizar Cadastro", class: "standart-button", data: { loading_text: "Salvando..." } %>
  </div>
<% end %>