<%= turbo_frame_tag dom_id(subproduct) do %>
  <%= form_with model: subproduct,
                data: { controller: "nested-form", turbo_frame: "_top" } do |f| %>
    
    <h4>Configurações do Subproduto</h4>
      <div class="mb-3">
        <%= f.label :name, "Nome do Subproduto" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

    <h4>Composição</h4>
    <div id="subproduct_total_cost">
      Custo Total: R$ <%= number_with_precision(subproduct.total_composition_cost, precision: 2) %>
    </div>
    <div>                           
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Insumo</th>
            <th>Quantidade</th>
            <th>Custo (R$)</th>
            <th>Ações</th>
          </tr>
        </thead>
          <tbody data-nested-form-target="container">
            <%= f.fields_for :subproduct_compositions do |ff| %>
              <%= render "subproducts/subproduct_compositions_fields", f: ff %>
            <% end %>
          </tbody>
      </table>
        <!-- template escondido -->
      <template id="composition-fields-template">
        <%= f.fields_for :subproduct_compositions,
                        SubproductComposition.new,
                        child_index: "NEW_RECORD" do |ff| %>
          <%= render "subproducts/subproduct_compositions_fields", f: ff %>
        <% end %>
      </template>
    </div>
                          
    <a href="#"
       class="action-button"
       data-turbo="false"
       data-action="click->nested-form#addField"
       data-template-id="composition-fields-template">
      Adicionar Insumo
    </a>

    <hr>

      <div class="field">
      <%= f.label :weight_loss, "Perda de Peso (%)" %>
      <%= f.number_field :weight_loss,
                        step: 0.01,
                        value: f.object.weight_loss || 0,
                        class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :final_weight, "Peso Final (g)" %>
      <%= f.number_field :final_weight,
                        readonly: true,
                        class: "form-control",
                        value: f.object.final_weight %>
    </div>

    <hr>

<br>
    <div class="mt-4">
      <%= f.submit "Salvar subproduto", class: "standart-button" %>
    </div>
  <% end %>
<% end %>