<main class="index-container">
  <h1 class="title">Subprodutos</h1>

  <div class="index-actions">
    <%= link_to "[+] Novo Subproduto",
                new_subproduct_path,
                class: "standart-button",
                data: { turbo_frame: "_top" } %>
  </div>

  <%= form_with url: subproducts_path, method: :get,
                data: { controller: "autosubmit", turbo_frame: "subproducts_table" } do %>
    <%= text_field_tag :q, params[:q],
          class: "form-control",
          placeholder: "Digite o nome de algum subproduto...",
          data: { action: "input->autosubmit#submit" } %>
    <button type="submit" hidden></button>
  <% end %>

  <%= turbo_frame_tag "subproducts_table" do %>
    <table class="index-table index-table--bordered">
      <thead>
        <tr>
          <% headers = [
              ["subproducts.name", "Nome"],
              ["subproducts.weight_in_grams", "Peso Total (g/ml)"],
              ["subproducts.cost", "Custo Total (R$)"]
            ] %>

            <% headers.each do |column, title| %>
              <% current = params[:sort] == column %>
              <% dir     = current && params[:direction] == "asc" ? "asc" : "desc" %>
              <% th_css  = current ? "sorted #{dir}" : nil %>

            <th class="<%= th_css %>">
              <%= link_to title,
                    url_for(
                      request.query_parameters
                            .merge(sort: column,
                                    direction: (current && dir == "asc" ? "desc" : "asc"),
                                    page: nil)
                    ) %>
            </th>
          <% end %>

          <th colspan="2">Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @subproducts.each do |sp| %>
          <tr>
            <td><%= sp.name %></td>
            <td><%= sp.subproduct_compositions.sum(&:quantity_for_a_unit) %></td>
            <td>R$ <%= number_with_precision(sp.total_composition_cost, precision: 2) %></td>
            <td class="cell-actions">
              <%= link_to subproduct_path(sp),
                          class: "link-icon-actions",
                          data: { turbo_frame: "_top" } do %>
                <%= image_tag "icons/ver.png", alt: "Ver", title: "Ver", class: "action-icon" %>
              <% end %>
            </td>
            <td class="cell-actions">
              <%= link_to edit_subproduct_path(sp),
                          class: "link-icon-actions",
                          data: { turbo_frame: "_top" } do %>
                <%= image_tag "icons/editar.png", alt: "Editar", title: "Editar", class: "action-icon" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if action_name == "index" %>
    <%= will_paginate @subproducts,
          previous_label: '<i class="bi bi-arrow-left"></i> Anterior'.html_safe,
          next_label: 'Próximo <i class="bi bi-arrow-right"></i>'.html_safe %>
  <% end %>
</main>