<main class="index-container">
  <h1 class="title"><%= @subproduct.name %></h1>

  <div>
    <div class="inline-buttons">
      <%= link_to "Voltar",
                  subproducts_path,
                  class: "action-button",
                  data: { turbo_frame: "_top" } %> |
      <%= link_to "Editar",
                  edit_subproduct_path(@subproduct),
                  class: "action-button",
                  data: { turbo_frame: "_top" } %>
      <% if @products_count.to_i.zero? && @services_count.to_i.zero? %> |
      <%= button_to "Excluir",
                    subproduct_path(@subproduct),
                    method: :delete,
                    data: { confirm: "Tem certeza que deseja excluir este subproduto?" },
                    class: "action-button danger" %>
      <% end %>
    </div>
  </div>

  <p><strong>Peso Total:</strong> <%= @subproduct.subproduct_compositions.sum(&:quantity_for_a_unit) %> g</p>
  <p><strong>Custo Total:</strong> R$ <%= number_with_precision(@subproduct.subproduct_compositions.sum(&:quantity_cost), precision: 2) %></p>

  <h4>Insumos Compostos</h4>
  <table class="index-table index-table--bordered">
    <thead>
      <tr>
        <th>Insumo</th>
        <th>Quantidade (g)</th>
        <th>Unidades Necessárias</th>
        <th>Custo (R$)</th>
      </tr>
    </thead>
    <tbody>
      <% @compositions.each do |comp| %>
        <tr>
          <td><%= comp.input.name %></td>
          <td><%= comp.quantity_for_a_unit %> g</td>
          <td><%= comp.require_units.present? ? number_with_precision(comp.require_units, precision: 2) : "-" %></td>
          <td>R$ <%= number_with_precision(comp.quantity_cost, precision: 2) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>

  <div class="detailed-box">
    <div>
      <p class="detailed-text">
        <strong>ATENÇÃO!</strong> Edite isso com cuidado. Outros itens podem depender deste Subproduto.
      </p>                 
      <p class="dependent-item-count">
        <%= "Você tem " + "#{pluralize(@products_count, 'Produto')} | " \
            "#{pluralize(@services_count, 'Serviço')}" + " utilizando este item" %>.
        <a href="#" data-bs-toggle="modal" data-bs-target="#assocModal">
          Clique aqui e veja a lista.
        </a>
      </p>
      <div>
        <%= render "subproduct_dependent_items_modal",
                  products: @products,
                  services: @services %>
      </div>
    </div>
  </div>

  <%= render "subproduct_dependent_items_modal",
            products: @products,
            services: @services %>

  <%= render 'nutritional_summary' %>
</main>