<p style="color: green"><%= notice %></p>

<%= render @fixed_cost %>

<div>
  <%= link_to "Editar", edit_fixed_cost_path(@fixed_cost), class: "action-button" %> |
  <%= link_to "Voltar", fixed_costs_path, class: "action-button" %>

  <%= button_to "Deletar", @fixed_cost, method: :delete, class: "action-button" %>
</div>