<tr id="<%= dom_id(cpp) %>">
  <td><%= cpp.channel.description %></td>
  <td><%= number_to_percentage(cpp.channel.channel_cost, precision: 2) %></td>
  <td><%= number_to_currency(cpp.price_with_commission, unit: "R$ ") %></td>
  <td data-controller="inline-edit">
    <turbo-frame id="<%= dom_id(cpp) %>">
      <span data-inline-edit-target="display">
        <% if cpp.corrected_final_price.present? %>
          <%= number_to_currency(cpp.corrected_final_price, unit: "R$ ") %>
        <% else %>
          –
        <% end %>
        <a href="#" data-action="inline-edit#edit">
          <%= image_tag "icons/editar.png", alt: "Editar", class: "icon-edit" %>
        </a>
      </span>

      <span data-inline-edit-target="form" class="d-none">
        <%= form_with model: cpp,
                      url: channel_product_portion_path(cpp),
                      method: :patch,
                      data: { turbo_frame: dom_id(cpp) } do |cf| %>
          <%= cf.hidden_field :channel_id %>
          <%= cf.number_field :corrected_final_price,
                value: cpp.corrected_final_price || "",
                step: 0.01,
                min: cpp.price_with_commission,
                class: "form-control" %>
          <%= cf.submit "Salvar", class: "action-button" %>
          <a href="#" data-action="inline-edit#cancel", class="action-button">Cancelar</a>
        <% end %>
      </span>
    </turbo-frame>
  </td>
  <td><%= number_to_currency(cpp.effective_final_price, unit: "R$ ") %></td>
</tr>
