<main class="logged-system">
  <p style="color: green"><%= notice %></p>

  <div id="<%= dom_id(@system_admins_plan) %>">
    <p><strong>Descrição:</strong> <%= @system_admins_plan.description %></p>
    <p><strong>Preço:</strong> <%= @system_admins_plan.price %></p>
    <p><strong>Status:</strong> <%= @system_admins_plan.status ? "Ativo" : "Inativo" %></p>
    <% if current_user_admin&.super_admin? %>
      <p><strong>Super Admin:</strong> <%= @system_admins_plan.super_admin ? "Sim" : "Não" %></p>
    <% end %>
  </div>

  <div>
    <% if current_user_admin&.super_admin? %>
      <%= link_to "Editar", edit_system_admins_plan_path(@system_admins_plan) %> |
      <%= button_to "Excluir", @system_admins_plan, method: :delete, data: { confirm: "Tem certeza?" } %> |
    <% end %>
    <%= link_to "Voltar para Planos", system_admins_plans_path %>
  </div>
</main>