<%= form_with model: @role,
              url: @role.persisted? ?
                     clients_services_role_path(@role) :
                     clients_services_roles_path,
              method: @role.persisted? ? :patch : :post,
              local: true do |f| %>
  <% if role.errors.any? %> 
    <div class="error_explanation">
      <h2><%= pluralize(role.errors.count, "error") %> proibiu esta função de ser salva:</h2>
      <ul>
        <% role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :description, "Descrição" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div>
      <%= form.submit "Salvar função", class: "standart-button" %>
    </div>
<% end %>