<p style="color: green"><%= notice %></p>
<% content_for :title, "Maxximiza | Funções" %>

<%= link_to "[+] Criar Função", new_services_role_path, class: "standart-button" %>

<h1>Funções</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.description %></td>
        <td><%= link_to "Ver", services_role_path(role) %></td>
        <td><%= link_to "Editar", edit_services_role_path(role) %></td>
        <td>
          <%= link_to "Excluir",
                      services_role_path(role),
                      method: :delete,
                      data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>