<main class="index-container">
  <p style="color: green"><%= notice %></p>
  <% content_for :title, "Maxximiza | Funções" %>

  <h1 class="title" >Funções</h1>

  <%= link_to "[+] Criar Função", new_clients_services_role_path, class: "standart-button" %>

  <table class="index-table--bordered" >
    <thead>
      <tr>
        <th>Descrição</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @roles.each do |role| %>
        <tr>
          <td><%= role.description %></td>
          <td><%= link_to "Ver", clients_services_role_path(role), class: "action-button" %></td>
          <td><%= link_to "Editar", edit_clients_services_role_path(role), class: "action-button" %></td>
          <td>
            <%= link_to "Excluir",
                        clients_services_role_path(role),
                        class: "action-button",
                        method: :delete,
                        data: { confirm: "Tem certeza?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>