<main class="index-container">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Maxximiza | Função: #{@role.description}" %>

  <h1>Função <i><%= @role.description %></i></h1>

  <div>
    <%= link_to "Editar esta função",
                edit_clients_services_role_path(@role),
                class: "standart-button" %>
    |
    <%= link_to "<- Voltar",
                clients_services_roles_path,
                class: "standart-button" %>
  </div>

  <div style="margin-top: 1em">
    <%= button_to "Excluir esta função",
                  clients_services_role_path(@role),
                  method: :delete,
                  data: { confirm: "Tem certeza que quer excluir #{@role.description}?" },
                  class: "action-button" %>
  </div>
</main>