<%= form_with(model: tax) do |form| %>
  <% if tax.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tax.errors.count, "error") %> prohibited this tax from being saved:</h2>
      <ul>
        <% tax.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inline-field">
    <div class="field">
      <%= form.label :description, "Nome do Perfil", style: "display: block", class: "custom-field" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>
  
  <div class="nested-fields">
    <div class="field">
      <%= form.label :icms, "ICMS", style: "display: block", class: "custom-field" %>
      <%= form.text_field :icms, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :ipi, "IPI", style: "display: block", class: "custom-field" %>
      <%= form.text_field :ipi, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :pis_cofins, "PIS/COFINS", style: "display: block", class: "custom-field" %>
      <%= form.text_field :pis_cofins, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :difal, "DIFAL", style: "display: block", class: "custom-field" %>
      <%= form.text_field :difal, class: "form-control" %>
    </div>
  </div>

  <div class="nested-fields">      
    <div class="field">
      <%= form.label :iss, "ISS", style: "display: block", class: "custom-field" %>
      <%= form.text_field :iss, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :cbs, "CBS", style: "display: block", class: "custom-field" %>
      <%= form.text_field :cbs, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :ibs, "IBS", style: "display: block", class: "custom-field" %>
      <%= form.text_field :ibs, class: "form-control" %>
    </div>

    <div class="field">
      <%= form.label :note, "Observações", style: "display: block", class: "custom-field" %>
      <%= form.text_area :note, class: "form-control" %>
    </div>

  </div>

  <div class="nested-fields">
    <div>
      <%= form.submit "Salvar", class: "action-button" %>
    </div>
  </div>
<% end %>