<%= form_with(model: tax) do |form| %>
  <% if tax.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tax.errors.count, "error") %> prohibited this tax from being saved:</h2>

      <ul>
        <% tax.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :icms, style: "display: block" %>
    <%= form.text_field :icms %>
  </div>

  <div>
    <%= form.label :ipi, style: "display: block" %>
    <%= form.text_field :ipi %>
  </div>

  <div>
    <%= form.label :pis_cofins, style: "display: block" %>
    <%= form.text_field :pis_cofins %>
  </div>

  <div>
    <%= form.label :difal, style: "display: block" %>
    <%= form.text_field :difal %>
  </div>

  <div>
    <%= form.label :iss, style: "display: block" %>
    <%= form.text_field :iss %>
  </div>

  <div>
    <%= form.label :cbs, style: "display: block" %>
    <%= form.text_field :cbs %>
  </div>

  <div>
    <%= form.label :ibs, style: "display: block" %>
    <%= form.text_field :ibs %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.textarea :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
