<%= form_with(model: tax) do |form| %>
  <% if tax.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tax.errors.count, "error") %> prohibited this tax from being saved:</h2>

      <ul>
        <% tax.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, "Nome do Perfil", style: "display: block" %>
    <%= form.textarea :description %>
  </div>

  <div>
    <%= form.label :icms, "ICMS", style: "display: block" %>
    <%= form.text_field :icms %>
  </div>

  <div>
    <%= form.label :ipi, "IPI", style: "display: block" %>
    <%= form.text_field :ipi %>
  </div>

  <div>
    <%= form.label :pis_cofins, "PIS/COFINS", style: "display: block" %>
    <%= form.text_field :pis_cofins %>
  </div>

  <div>
    <%= form.label :difal, "DIFAL", style: "display: block" %>
    <%= form.text_field :difal %>
  </div>

  <div>
    <%= form.label :iss, "ISS", style: "display: block" %>
    <%= form.text_field :iss %>
  </div>

  <div>
    <%= form.label :cbs, "CBS", style: "display: block" %>
    <%= form.text_field :cbs %>
  </div>

  <div>
    <%= form.label :ibs, "IBS", style: "display: block" %>
    <%= form.text_field :ibs %>
  </div>

  <div>
    <%= form.label :note, "Observações", style: "display: block" %>
    <%= form.textarea :note %>
  </div>

  <div>
    <%= form.submit "Salvar", class: "action-button" %>
  </div>
<% end %>
