<div id="<%= dom_id tax %>">
  <p>
    <strong>Description:</strong>
    <%= tax.description %>
  </p>

  <p>
    <strong>Icms:</strong>
    <%= tax.icms %>
  </p>

  <p>
    <strong>Ipi:</strong>
    <%= tax.ipi %>
  </p>

  <p>
    <strong>Pis cofins:</strong>
    <%= tax.pis_cofins %>
  </p>

  <p>
    <strong>Difal:</strong>
    <%= tax.difal %>
  </p>

  <p>
    <strong>Iss:</strong>
    <%= tax.iss %>
  </p>

  <p>
    <strong>Cbs:</strong>
    <%= tax.cbs %>
  </p>

  <p>
    <strong>Ibs:</strong>
    <%= tax.ibs %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= tax.note %>
  </p>

</div>
