<div id="<%= dom_id tax %>">
  <p>
    <strong>Descrição:</strong>
    <%= tax.description %>
  </p>

  <p>
    <strong>ICMS:</strong>
    <%= tax.icms %>
  </p>

  <p>
    <strong>IPI:</strong>
    <%= tax.ipi %>
  </p>

  <p>
    <strong>PIS / COFINS:</strong>
    <%= tax.pis_cofins %>
  </p>

  <p>
    <strong>DIFAL:</strong>
    <%= tax.difal %>
  </p>

  <p>
    <strong>ISS:</strong>
    <%= tax.iss %>
  </p>

  <p>
    <strong>CBS (Reforma Tributária 2026):</strong>
    <%= tax.cbs %>
  </p>

  <p>
    <strong>IBS (Reforma Tributária 2026):</strong>
    <%= tax.ibs %>
  </p>

  <p>
    <strong>Observações:</strong>
    <%= tax.note %>
  </p>

</div>
