<main class="index-container">
  <p style="color: green"><%= notice %></p>

  <%= render @tax %>

  <div>
    <%= link_to "Editar", edit_tax_path(@tax) %> |
    <%= link_to "Voltar", taxes_path %>

    <%= button_to "Excluir", @tax, method: :delete %>
  </div>
</main>