<main class="index-container">
  <%= render @tax %>

  <div class="detailed-box">
    <p class="detailed-text">
      <strong>ATENÇÃO!</strong> Este perfil de imposto pode estar em uma ou mais Porções de Produto.
      Veja <a href="#" data-bs-toggle="modal" data-bs-target="#taxAssocModal">AQUI</a> quais porções podem ser comprometidas.
    </p>
  </div>

  <%= render "tax_dependent_items_modal", product_portions: @product_portions %>

  <div>
    <%= link_to "Editar", edit_tax_path(@tax) %> |
    <%= link_to "Voltar", taxes_path %>

    <%= button_to "Excluir", @tax, method: :delete %>
  </div>
</main>