<%# Fluxo do modal (Inputs) - adiciona opção no select e fecha modal %>
<turbo-stream action="append" target="brands_select">
  <template>
    <option value="<%= @brand.id %>"><%= @brand.name %></option>
  </template>
</turbo-stream>

<turbo-stream action="update" target="modal_helper">
  <template>
    <script>
      var modal = bootstrap.Modal.getInstance(document.getElementById('newBrandModal'));
      if (modal) { modal.hide(); }

      window.dispatchEvent(new CustomEvent("brand:created", {
        detail: { id: "<%= @brand.id %>", name: "<%= @brand.name %>" }
      }));
    </script>
  </template>
</turbo-stream>

<%# Fluxo da página de Marcas - adiciona linha na tabela %>
<turbo-stream action="append" target="brands_table_body">
  <template>
    <tr id="<%= dom_id(@brand) %>">
      <td><%= @brand.id %></td>
      <td><%= @brand.name %></td>
      <td>
        <%= link_to "Editar", edit_brand_path(@brand), class: "action-button" %>
      </td>
    </tr>
  </template>
</turbo-stream>