<main class="index-container">
  <% content_for :title, "Categorias" %>

  <h1 class="title">Categorias</h1>

  <%= link_to "[+] Nova Categoria", new_category_path, class: "standart-button" %>

  <table class="index-table index-table--bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr id="<%= dom_id(category) %>">
          <td><%= category.name %></td>
          <td>
            <%= link_to "Mostrar", category, class: "action-button" %> |
            <%= link_to "Editar", edit_category_path(category), class: "action-button" %> |
            <%= link_to "Excluir", category, method: :delete, data: { confirm: "Tem certeza?" }, class: "action-button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</main>