<main class="index-container">
  <h2 class="title">Entrar em System Admin</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="field">
      <%= f.label :email, "E-mail", class: "custom-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :password, "Senha", class: "custom-label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="check-box">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "Lembrar-me", class: "custom-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Entrar", class: "action-button" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</main>