<div id="<%= dom_id order %>">
  <p>
    <strong>Sales quote:</strong>
    <%= order.sales_quote_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

  <p>
    <strong>Placed at:</strong>
    <%= order.placed_at %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= order.total %>
  </p>

</div>
