<!-- app/views/products/_aggregated_costs.html.erb -->
<%= form_with model: product,
              url: product_path(product, step: 2),
              method: :patch,
              local: false,
              data: {
                turbo_frame: "product_steps",
                controller:  "aggregated-costs"
              } do |f| %>

  <h3>2) Custos Agregados</h3>

  <div class="field">
    <%= f.label :financial_cost, "Custo financeiro (%)" %><br>
    <%= f.number_field :financial_cost,
                       step: "any",
                       class: "form-control",
                       data: {
                         aggregated_costs_target: "input",
                         action:                   "input->aggregated-costs#updateTotal"
                       } %>
  </div>

  <div class="field">
    <%= f.label :sales_channel_cost, "Custo do canal de vendas (%)" %><br>
    <%= f.number_field :sales_channel_cost,
                       step: "any",
                       class: "form-control",
                       data: {
                         aggregated_costs_target: "input",
                         action:                   "input->aggregated-costs#updateTotal"
                       } %>
  </div>

  <div class="field">
    <%= f.label :commission_cost, "Custo de comissão (%)" %><br>
    <%= f.number_field :commission_cost,
                       step: "any",
                       class: "form-control",
                       data: {
                         aggregated_costs_target: "input",
                         action:                   "input->aggregated-costs#updateTotal"
                       } %>
  </div>

  <div class="field">
    <%= f.label :freight_cost, "Custo de frete (R$)" %><br>
    <%= f.number_field :freight_cost,
                       step: "any",
                       class: "form-control",
                       data: {
                         aggregated_costs_target: "input",
                         action:                   "input->aggregated-costs#updateTotal"
                       } %>
  </div>

  <div class="field">
    <%= f.label :storage_cost, "Custo de armazenagem (R$)" %><br>
    <%= f.number_field :storage_cost,
                       step: "any",
                       class: "form-control",
                       data: {
                         aggregated_costs_target: "input",
                         action:                   "input->aggregated-costs#updateTotal"
                       } %>
  </div>

  <div class="actions mt-3">
    <%= f.submit "Salvar e continuar", class: "action-button" %>
  </div>
<% end %>