<!-- app/views/products/_aggregated_costs.html.erb -->
<%= turbo_frame_tag "product_steps" do %>
  <%= form_with model: product,
                url: product_path(product, step: 2),
                method: :patch,
                data: {
                  turbo_frame: "product_steps",
                  controller:  "aggregated-costs"
                },
                local: false do |f| %>

    <h3>2) Custos Agregados</h3>

    <% [
      :financial_cost,
      :sales_channel_cost,
      :commission_cost,
      :freight_cost,
      :storage_cost
    ].each do |attr| %>
      <div class="field">
        <%= f.label attr, Product.human_attribute_name(attr) %><br>
        <%= f.number_field attr,
                           step: "any",
                           class: "form-control",
                           data: {
                             aggregated_costs_target: "input",
                             action:                   "input->aggregated-costs#updateTotal"
                           } %>
      </div>
    <% end %>

    <div class="actions mt-3">
      <%= f.submit "Salvar e continuar", class: "action-button" %>
    </div>
  <% end %>
<% end %>