<!-- app/views/products/_aggregated_costs.html.erb -->
<h5>2) Custos Agregados</h5>
<div class="row">
  <div class="col-md-4 mb-3">
    <%= f.label :financial_cost, "Custo Financeiro (%)" %>
    <%= f.number_field :financial_cost,
                       step: "any",
                       class: "form-control",
                       data: { action: "input->product-pricing#recalculate" } %>
  </div>
  <div class="col-md-4 mb-3">
    <%= f.label :sales_channel_cost, "Custo Canal (%)" %>
    <%= f.number_field :sales_channel_cost,
                       step: "any",
                       class: "form-control",
                       data: { action: "input->product-pricing#recalculate" } %>
  </div>
  <div class="col-md-4 mb-3">
    <%= f.label :commission_cost, "Custo Comissão (%)" %>
    <%= f.number_field :commission_cost,
                       step: "any",
                       class: "form-control",
                       data: { action: "input->product-pricing#recalculate" } %>
  </div>
  <div class="col-md-4 mb-3">
    <%= f.label :freight_cost, "Frete (R$)" %>
    <%= f.number_field :freight_cost,
                       step: "any",
                       class: "form-control",
                       data: { action: "input->product-pricing#recalculate" } %>
  </div>
  <div class="col-md-4 mb-3">
    <%= f.label :storage_cost, "Armazenagem (R$)" %>
    <%= f.number_field :storage_cost,
                       step: "any",
                       class: "form-control",
                       data: { action: "input->product-pricing#recalculate" } %>
  </div>
</div>