<!-- app/views/products/_aggregated_costs.html.erb -->
<%= form_with model: product,
              url: product_path(product, step: 2),
              method: :patch,
              data: { turbo_frame: "aggregated-costs" },
              local: false do |f| %>
  <h3>Etapa 2 – Custos Agregados</h3>
  <div>
    <%= f.label :financial_cost, "Custo de transação financeira (%)" %>
    <%= f.number_field :financial_cost, step: "any" %>
  </div>
  <div>
    <%= f.label :sales_channel_cost, "Custo de plataforma de venda (%)" %>
    <%= f.number_field :sales_channel_cost, step: "any" %>
  </div>
  <div>
    <%= f.label :commission_cost, "Custo de comissão (%)" %>
    <%= f.number_field :commission_cost, step: "any" %>
  </div>
  <div>
    <%= f.label :freight_cost, "Custo de envio (R$)" %>
    <%= f.number_field :freight_cost, step: "any" %>
  </div>
  <div>
    <%= f.label :storage_cost, "Custo de Armazenagem (R$)" %>
    <%= f.number_field :storage_cost, step: "any" %>
  </div>
  <%= f.submit "Salvar e continuar", class: "action-button" %>
<% end %>