<!-- app/views/products/_form.html.erb -->
<%= form_with model: product,
              local: false,
              data: { controller: "product-wizard",
                      turbo_frame: product.new_record? ? "product-configurations" : dom_id(product) } do |f| %>

  <!-- Etapa 1: Configurações -->
  <div id="step1">
    <%= render "product_configurations", f: f %>
    <%= f.submit "Salvar e continuar", class: "action-button", data: { action: "click->product-wizard#nextStep" } %>
  </div>

  <!-- Etapa 2: Custos Agregados -->
  <div id="step2" hidden>
    <%= render "aggregated_costs", f: f %>
    <%= f.submit "Salvar e continuar", class: "action-button", data: { action: "click->product-wizard#nextStep" } %>
  </div>

  <!-- Etapa 3: Composição -->
  <div id="step3" hidden>
    <%= render "product_composition", f: f %>
    <%= f.submit "Salvar e continuar", class: "action-button", data: { action: "click->product-wizard#nextStep" } %>
  </div>

  <!-- Etapa 4: Precificação -->
  <div id="step4" hidden>
    <%= render "pricing", f: f %>
    <%= f.submit product.new_record? ? "Criar Produto" : "Atualizar Produto",
                  class: "action-button" %>
  </div>

<% end %>