<!-- app/views/products/_form.html.erb -->
<%= form_with model: @product, local: true, html: { data: { controller: "tabs" } } do |f| %>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#" class="nav-link active"
         data-action="tabs#switch"
         data-tabs-panel="panel-config">
        Configurações
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"
         data-action="tabs#switch"
         data-tabs-panel="panel-costs">
        Custos
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"
         data-action="tabs#switch"
         data-tabs-panel="panel-composition">
        Composição
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"
         data-action="tabs#switch"
         data-tabs-panel="panel-pricing">
        Precificação
      </a>
    </li>
  </ul>

  <div class="tab-content mt-3">
    <div id="panel-config" class="tab-pane active">
      <%= render "product_configurations", f: f %>
    </div>
    <div id="panel-costs" class="tab-pane d-none">
      <%= render "aggregated_costs", f: f %>
    </div>
    <div id="panel-composition" class="tab-pane d-none">
      <%= render "product_composition", f: f %>
    </div>
    <div id="panel-pricing" class="tab-pane d-none">
      <%= render "pricing", f: f %>
    </div>
  </div>

  <div class="mt-4 text-end">
    <%= f.submit @product.new_record? ? "Criar Produto" : "Atualizar Produto",
                  class: "btn btn-primary" %>
  </div>
<% end %>