<%= form_with model: @product, local: true, html: { id: "product-form" } do |f| %>
  <ul class="nav nav-tabs" data-controller="tabs">
    <li class="nav-item">
      <button 
        class="nav-link active"
        data-action="tabs#switch"
        data-tabs-target="tab"
        data-tabs-url="<%= url_for(action: :partial, tab: 'config') %>"
        data-tabs-panel="#tab-config">
        Configurações
      </button>
    </li>
    <li class="nav-item">
      <button 
        class="nav-link"
        data-action="tabs#switch"
        data-tabs-target="tab"
        data-tabs-url="<%= url_for(action: :partial, tab: 'costs') %>"
        data-tabs-panel="#tab-costs">
        Custos Agregados
      </button>
    </li>
    <li class="nav-item">
      <button 
        class="nav-link"
        data-action="tabs#switch"
        data-tabs-target="tab"
        data-tabs-url="<%= url_for(action: :partial, tab: 'compo') %>"
        data-tabs-panel="#tab-compo">
        Composição
      </button>
    </li>
    <li class="nav-item">
      <button 
        class="nav-link"
        data-action="tabs#switch"
        data-tabs-target="tab"
        data-tabs-url="<%= url_for(action: :partial, tab: 'pricing') %>"
        data-tabs-panel="#tab-price">
        Precificação
      </button>
    </li>
  </ul>

  <div class="tab-content border p-3 mt-2">
    <div id="tab-config" class="tab-pane fade show active"
         data-tabs-target="panel"></div>

    <div id="tab-costs" class="tab-pane fade" data-tabs-target="panel"></div>

    <div id="tab-compo" class="tab-pane fade" data-tabs-target="panel"
         data-controller="product-composition">
    </div>

    <div id="tab-price" class="tab-pane fade" data-tabs-target="panel"
         data-controller="product-pricing">
    </div>
  </div>

  <div class="mt-3 text-end">
    <%= f.submit(@product.new_record? ? "Criar Produto" : "Atualizar Produto",
                 class: "btn btn-primary") %>
  </div>
<% end %>