<!-- app/views/products/_form.html.erb -->
<h1 class="title"><%= @product.new_record? ? "Novo Produto" : "Editar Produto" %></h1>

<% active_tab ||= local_assigns[:active_tab] || params[:active_tab] || "config" %>

<%= form_with model: @product,
              url: (@product.new_record? ?
                      products_path(active_tab: active_tab) :
                      product_path(@product, active_tab: active_tab)),
              method: (@product.new_record? ? :post : :patch),
              html:  { multipart: true },
              data: { controller: "tabs" } do |f| %>

  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(f.object.errors.count, "erro") %> impediram o salvamento:</h5>
      <ul>
        <% f.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :active_tab,
                       active_tab,
                       data: { tabs_target: "hidden" } %>
    
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#"
        class="nav-link <%= "active" if active_tab == "config" %>"
        data-tabs-target="link"
        data-action="click->tabs#switch"
        data-tabs-panel="panel-config">
        Configurações
      </a>
    </li>
    <li class="nav-item">
      <a href="#"
        class="nav-link <%= "active" if active_tab == "composition" %>"
        data-tabs-target="link"
        data-action="click->tabs#switch"
        data-tabs-panel="panel-composition">
        Composição do Produto
      </a>
    </li>
  </ul>

  <div class="mt-4 text-end">
    <%= f.submit "Salvar alterações",
                class: "standart-button",
                data: { turbo: true, turbo_frame: "_top" } %>
  </div>

  <div class="tab-content mt-3">
    <div id="panel-config"
         class="tab-pane <%= active_tab == "config" ? "active d-flex" : "d-none" %>"
         data-tabs-target="panel">
      <%= render "product_configurations", f: f %>
    </div>

    <div id="panel-composition"
         class="tab-pane <%= active_tab == "composition" ? "active" : "d-none" %>"
         data-tabs-target="panel">
      <%= render "product_composition", f: f %>
    </div>
  </div>
<% end %>