<!-- app/views/products/_pricing.html.erb -->
<%= turbo_frame_tag "product_steps" do %>
  <h3>4) Precificação Final</h3>

  <p>Total Custo: R$ <%= number_with_precision(product.total_cost, precision: 2) %></p>
  <p>Preço Varejo: R$ <%= number_with_precision(product.suggested_retail_price, precision: 2) %></p>
  <p>Preço Atacado: R$ <%= number_with_precision(product.suggested_wholesale_price, precision: 2) %></p>
  <p>Lucro Bruto Varejo: R$ <%= number_with_precision(product.gross_profit_retail, precision: 2) %></p>
  <p>Lucro Bruto Atacado: R$ <%= number_with_precision(product.gross_profit_wholesale, precision: 2) %></p>
  <p>Lucro Líquido Varejo: R$ <%= number_with_precision(product.net_profit_retail, precision: 2) %></p>
  <p>Lucro Líquido Atacado: R$ <%= number_with_precision(product.net_profit_wholesale, precision: 2) %></p>

  <% if product.persisted? %>
    <div class="mt-3">
      <%= link_to "Concluir Cadastro", product_path(product), class: "action-button" %>
    </div>
  <% end %>
<% end %>