<!-- app/views/products/_product_composition_fields.html.erb -->
<tr id="<%= dom_id(f.object) %>">
  <td>
    <%= f.collection_select :subproduct_id,
                            Subproduct.all,
                            :id,
                            :name,
                            { prompt: "Selecione" },
                            class: "form-select",
                            data: {
                              cost_per_gram: f.object.subproduct&.cost_per_gram || 0,
                              action:        "change->product-composition#recalculate"
                            } %>
  </td>
  <td>
    <%= f.number_field :quantity,
                       step: "any",
                       class: "form-control",
                       data: { action: "input->product-composition#recalculate" } %>
  </td>
  <td>
    <%= f.hidden_field :cost %>
    R$ <span data-product-composition-target="fieldCost">0.00</span>
  </td>
  <td>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remover", "#",
                class: "action-button",
                data: { action: "product-composition#removeField" } %>
  </td>
</tr>