<!-- app/views/products/_product_composition.html.erb -->
<h5 class="subtitle">2) Composição do Produto</h5>

<div data-controller="product-composition">
  <button type="button"
          class="action-button"
          data-action="click->product-composition#addField">
    Adicionar Linha
  </button>
  <br>

  <table>
    <tbody data-product-composition-target="list">
      <%= f.fields_for :product_subproducts do |ps| %>
        <%= render partial: "products/product_composition_fields", locals: { f: ps } %>
      <% end %>
    </tbody>
  </table>

  <template data-product-composition-target="template">
    <%= f.fields_for :product_subproducts, ProductSubproduct.new,
                     child_index: "NEW_RECORD" do |ps| %>
      <%= render partial: "products/product_composition_fields", locals: { f: ps } %>
    <% end %>
  </template>

    <div class="row">
    <div class="col-md-3 mb-3">
      <%= f.label :weight_loss, "Perda de Peso (%)", class: "custom-label"  %>
      <%= f.number_field :weight_loss,
            step: 0.01,
            class: "form-control",
            data: {
              action: "input->product-composition#recalcWeights",
              product_composition_target: "weightLoss"
            } %>
    </div>

    <div class="col-md-3 mb-3">
      <%= f.label :total_weight, "Peso Bruto (g)", class: "custom-label"  %>
      <%= f.number_field :total_weight,
            readonly: true,
            class: "form-control",
            data: { product_composition_target: "grossWeight" } %>
    </div>

    <div class="col-md-3 mb-3">
      <%= f.label :final_weight, "Peso Final (g)", class: "custom-label"  %>
      <%= f.number_field :final_weight,
            readonly: true,
            class: "form-control",
            data: { product_composition_target: "finalWeight" } %>
    </div>
  </div>
</div>