<!-- app/views/products/_product_composition.html.erb -->
<div data-controller="product-composition">
  <button type="button"
          class="action-button"
          data-action="click->product-composition#addField">
    Adicionar Linha
  </button>
  <br>

  <table>
    <tbody data-product-composition-target="list">
      <%= f.fields_for :product_subproducts do |ps| %>
        <%= render partial: "products/product_composition_fields", locals: { f: ps } %>
      <% end %>
    </tbody>
  </table>

  <template data-product-composition-target="template">
    <%= f.fields_for :product_subproducts, ProductSubproduct.new,
                     child_index: "NEW_RECORD" do |ps| %>
      <%= render partial: "products/product_composition_fields", locals: { f: ps } %>
    <% end %>
  </template>

  <div class="col-md-3 mb-3">
    <%= f.label :weight_loss, "Perda de Peso (%)" %>
    <%= f.number_field :weight_loss,
                      step: 0.01,
                      value: f.object.weight_loss || 0,
                      class: "form-control" %>
  </div>

  <div class="col-md-3 mb-3">
    <%= f.label :final_weight, "Peso Final (g)" %>
    <%= f.number_field :final_weight,
                      readonly: true,
                      class: "form-control",
                      value: f.object.final_weight %>
  </div>
</div>