<!-- app/views/products/_product_configurations.html.erb -->
<div>
  <h5 class="subtitle">1) Configurações do Produto</h5>
</div>
  <div class="row">
  <div>
    <%= f.label :description, "Descrição", class: "custom-label" %>
    <%= f.text_field :description, class: "form-control", required: true %>
  </div>

  <div class="form-row">
    <div class="field">
      <%= f.label :brand_id, "Marca", class: "custom-label" %>
      <%= f.collection_select :brand_id,
                              @main_brands,
                              :id,
                              :name,
                              { prompt: "Selecione" },
                              class: "form-select",
                              required: true %>
    </div>

    <div class="field">
      <%= f.label :category_id, "Categoria", class: "custom-label" %>
      <%= f.collection_select :category_id,
                              Category.all,
                              :id,
                              :name,
                              { prompt: "Selecione Categoria" },
                              class: "form-select",
                              required: true %>
    </div>
  </div>

    <div class="col-md-6 mb-3">
      <%= f.label :image, "Imagem", style: "display: block" %>
      <%= f.file_field :image %>
    </div>
    
    <div class="col-md-3 mb-3">
      <%= f.label :profit_margin_wholesale, "Margem Atacado (%)", class: "custom-label" %>
      <%= f.number_field :profit_margin_wholesale,
                        step: "any",
                        class: "form-control",
                        required: true %>
    </div>
    <div class="col-md-3 mb-3">
      <%= f.label :profit_margin_retail, "Margem Varejo (%)", class: "custom-label" %>
      <%= f.number_field :profit_margin_retail,
                        step: "any",
                        class: "form-control",
                        required: true %>
    </div>
</div>