<!-- app/views/products/_product_composition_fields.html.erb -->
<tr>
  <td>
    <%= f.collection_select :subproduct_id,
                            Subproduct.all, :id, :name,
                            { prompt: "Selecione" },
                            class: "form-select",
                            data: {
                              cost_per_gram: f.object.subproduct&.cost_per_gram || 0,
                              action:        "change->product-composition#updateCost"
                            } %>
  </td>
  <td>
    <%= f.number_field :quantity,
                       step: "any",
                       class: "composition-quantity form-control",
                       data: { action: "input->product-composition#updateCost" } %>
  </td>
  <td>
    <%= f.hidden_field :cost, value: f.object.cost, data: {} %>
    <span data-product-composition-target="fieldCost">
      <%= number_with_precision(f.object.cost || 0, precision: 2) %>
    </span>
  </td>
  <td>
    <%= f.hidden_field :_destroy, value: false %>
    <%= link_to "Remover", "#",
                class: "text-danger action-button",
                data: { action: "product-composition#removeField" } %>
    <%= link_to "Atualizar", "#",
                class: "action-button ml-2",
                data: { action: "click->product-composition#updateCost" } %>
  </td>
</tr>