<!-- products/_product_composition_weight.html.erb -->
<tr data-controller="composition-row"
    data-type="subproduct"
    data-unit="g"
    data-new-record="true"
    class="composition-fields">
    <td>
      <%= f.collection_select :subproduct_id,
            Subproduct.order(:name), :id, :name,
            { prompt: "Selecione Subproduto" },
            { class: "inline-select",
              data: { action: "change->product-composition#renderSubproductFields" } } %>
    </td>

    <!-- Quantidade digitada -->
    <td>
      <%= f.number_field :quantity,
            step: "any",
            placeholder: "Quantidade (g/mL)",
            class: "inline-control",
            data: { action: "input->composition-row#calculate" } %>
    </td>

    <!-- Custo calculado -->
    <td>
      <%= f.number_field :cost,
            step: "any",
            readonly: true,
            class: "inline-control" %>
    </td>

    <!-- Remover -->
    <td>
      <%= f.hidden_field :_destroy, class: "remove-btn" %>
      <button type="button"
              class="icon-delete"
              data-action="composition-row#removeRow">
        <%= image_tag("icons/excluir.png", alt: "Remover") %>
      </button>
    </td>
</tr>