<tr data-controller="composition-row"
    data-composition-row-cost-per-gram-value="<%= f.object.subproduct&.cost_per_gram.to_f %>"
    data-new-record="<%= f.object.new_record? %>">

  <!-- Coluna única que mantém o flex do .nested-fields -->
  <td colspan="4">
    <div class="nested-fields">
      
      <div class="field">
        <%= f.hidden_field :id %>
        <%= f.label :subproduct_id, "Subproduto", class: "custom-label" %>
        <%= f.select :subproduct_id,
          options_for_select(
            Subproduct.all.map { |s|
              [ s.name, s.id, { "data-cost-per-gram": s.cost_per_gram } ]
            },
            f.object.subproduct_id
          ),
          { prompt: "Selecione" },
          class: "form-select",
          data: { action: "change->composition-row#updateCostPerGram" } %>
      </div>

      <div class="field">
        <%= f.label :quantity, "Quantidade (g)", class: "custom-label" %>
        <%= f.number_field :quantity,
              step: "any",
              placeholder: "Ex: 100",
              class: "form-control",
              data: {
                "composition-row-target": "quantity",
                action: "input->composition-row#calculate input->product-composition#recalcWeights"
              } %>
      </div>

      <div class="field">
        <%= f.label :cost, "Custo da Quantidade (R$)", class: "custom-label" %>
        <%= f.number_field :cost,
              step: "any",
              readonly: true,
              class: "form-control",
              data: { "composition-row-target": "cost" } %>
        <%= f.hidden_field :cost, data: { "composition-row-target": "costValue" } %>
      </div>

      <div class="remove-btn">
        <%= f.hidden_field :_destroy, class: "destroy-flag" %>
        <button type="button" class="mini-button"
                data-action="composition-row#removeRow">
          Remover
        </button>
      </div>

    </div>
  </td>
</tr>