<main class="container mt-4">
  <%= turbo_frame_tag "product_steps" do %>
    <h1>Produtos</h1>
    <%= link_to "Novo Produto",
                new_product_path,
                data: { turbo_frame: "product_steps" },
                class: "action-button" %>
  <br>                            
    <table class="table table-bordered mt-3">
    <br>
      <thead>
        <tr>
          <th>Produto</th>
          <th>Total Custo (R$)</th>
          <th>Total Quantidade (g)</th>
          <th>Preço Sugerido Varejo (R$)</th>
          <th>Preço Sugerido Atacado (R$)</th>
          <th>Lucro Bruto Varejo (R$)</th>
          <th>Lucro Bruto Atacado (R$)</th>
          <th>Lucro Líquido Varejo (R$)</th>
          <th>Lucro Líquido Atacado (R$)</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |p| %>
          <tr id="<%= dom_id(p) %>">
            <td><%= p.description %></td>
            <td>R$ <%= number_with_precision(p.total_cost, precision: 2) %></td>
            <td><%= p.total_weight %> g</td>
            <td>R$ <%= number_with_precision(p.suggested_retail_price, precision: 2) %></td>
            <td>R$ <%= number_with_precision(p.suggested_wholesale_price, precision: 2) %></td>
            <td>R$ <%= number_with_precision(p.gross_profit_retail, precision: 2) %></td>
            <td>R$ <%= number_with_precision(p.gross_profit_wholesale, precision: 2) %></td>
            <td>R$ <%= number_with_precision(p.net_profit_retail, precision: 2) %></td>
            <td>R$ <%= number_with_precision(p.net_profit_wholesale, precision: 2) %></td>
            <td>
              <%= link_to "Editar",
                          edit_product_path(p, step: 1),
                          data: { turbo_frame: "product_steps" },
                          class: "action-button" %>
              <%= button_to "Excluir",
                            product_path(p),
                            method: :delete,
                            form: { data: { turbo_frame: "product_steps", turbo_confirm: "Confirma?" } },
                            class: "action-button ms-2" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</main>