<!-- app/views/products/show.html.erb -->

<main class="show-container">
  <%= turbo_frame_tag "product_steps" do %>
    <h1 class="title">Detalhes do Produto</h1>

    <div>
      <div class="custom-label">
        <%= link_to "<- Voltar",
                    products_path,
                    data: { turbo_frame: "product_steps" },
                    class: "standart-button" %>
        <%= link_to "Editar",
                    edit_product_path(@product, active_tab: "config"),
                    data: { turbo_frame: "product_steps" },
                    class: "action-button" %>
      </div>
    </div>

    <section class="show-info mb-4">
      <p class="custom-label">Descrição:
        <%= @product.description %></p>
      <p class="custom-label"><strong>Marca:
        <%= @product.brand&.name %></p>
      <p class="custom-label"><strong>Imagem:
          <% if @product.image.attached? %>
            <%= image_tag(
                  url_for(@product.image),
                  alt: @product.description,
                  class: "index_image",
                  width: 300,
                  height: 300
                ) %>
          <% else %>
            Nenhuma
          <% end %>
        </p>
      <p class="custom-label">Total Custo (R$):
        <%= number_to_currency(@product.total_cost, unit: "R$ ") %>
      </p>
      <p class="custom-label">Total c/ Tributos (R$):
        <%= number_to_currency(@product.total_cost_with_taxes, unit: "R$ ") %>
      </p>
      <p class="custom-label">Preço Sugerido Varejo (R$):
        <%= number_to_currency(@product.suggested_price_retail, unit: "R$ ") %>
      </p>
      <p class="custom-label">Preço Sugerido Atacado (R$):
        <%= number_to_currency(@product.suggested_price_wholesale, unit: "R$ ") %>
      </p>
      <p class="custom-label">Lucro Líquido Varejo (R$):
        <%= number_to_currency(@product.net_profit_retail, unit: "R$ ") %>
      </p>
      <p class="custom-label">Lucro Líquido Atacado (R$):
        <%= number_to_currency(@product.net_profit_wholesale, unit: "R$ ") %>
      </p>
    </section>

    <section class="show-composition mb-4">
      <h2 class="subtitle">Composição</h2>
      <table class="index-table index-table--bordered">
        <thead>
          <tr>
            <th>Insumo</th>
            <th>Quantidade</th>
            <th>Custo Unitário (R$)</th>
          </tr>
        </thead>
        <tbody>
          <% @product.product_subproducts.each do |ps| %>
            <tr>
              <td><%= ps.subproduct.name %></td>
              <td><%= ps.product.final_weight %></td>
              <td><%= number_to_currency(ps.cost, unit: "R$ ") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</main>