<!-- app/views/products/show.html.erb -->

<main class="show-container">
  <%= turbo_frame_tag "product_steps" do %>
    <h1 class="show-title">Detalhes do Produto</h1>

    <div>
      <div class="show-actions text-end">
        <%= link_to "<- Voltar",
                    products_path,
                    data: { turbo_frame: "product_steps" },
                    class: "standart-button" %>
        <%= link_to "Editar",
                    edit_product_path(@product, active_tab: "config"),
                    data: { turbo_frame: "product_steps" },
                    class: "action-button" %>
      </div>
    </div>

    <section class="show-info mb-4">
      <p><strong>Descrição:</strong> <%= @product.description %></p>
      <p><strong>Marca:</strong> <%= @product.brand&.name %></p>
      <p><strong>Total Custo (R$):</strong>
        <%= number_to_currency(@product.total_cost, unit: "R$ ") %>
      </p>
      <p><strong>Total c/ Tributos (R$):</strong>
        <%= number_to_currency(@product.total_cost_with_taxes, unit: "R$ ") %>
      </p>
      <p><strong>Preço Sugerido Varejo (R$):</strong>
        <%= number_to_currency(@product.suggested_price_retail, unit: "R$ ") %>
      </p>
      <p><strong>Preço Sugerido Atacado (R$):</strong>
        <%= number_to_currency(@product.suggested_price_wholesale, unit: "R$ ") %>
      </p>
      <p><strong>Lucro Líquido Varejo (R$):</strong>
        <%= number_to_currency(@product.net_profit_retail, unit: "R$ ") %>
      </p>
      <p><strong>Lucro Líquido Atacado (R$):</strong>
        <%= number_to_currency(@product.net_profit_wholesale, unit: "R$ ") %>
      </p>
    </section>

    <section class="show-composition mb-4">
      <h2>Composição</h2>
      <table class="index-table index-table--bordered">
        <thead>
          <tr>
            <th>Insumo</th>
            <th>Quantidade</th>
            <th>Custo Unitário (R$)</th>
            <th>Custo Total (R$)</th>
          </tr>
        </thead>
        <tbody>
          <% @product.product_subproducts.each do |ps| %>
            <tr>
              <td><%= ps.subproduct.name %></td>
              <td><%= ps.quantity %></td>
              <td><%= number_to_currency(ps.cost, unit: "R$ ") %></td>
              <td>
                <%= number_to_currency(ps.quantity * ps.cost, unit: "R$ ") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>
</main>