<!-- app/views/products/update.turbo_stream.erb -->
<%= turbo_stream.replace "product_steps" do %>
  <%= turbo_frame_tag "product_steps" do %>
    <%= render "steps",
          product:    @product,
          active_tab: @next_tab %>
  <% end %>
<% end %>

<%# Atualiza totais de composição sem recarregar tudo %>
<%= turbo_stream.replace "totals" do %>
  <%= render partial: "products/totals", locals: { product: @product } %>
<% end %>

<%# Mostra flash de sucesso %>
<%= turbo_stream.prepend "flash" do %>
  <div class="alert alert-success">Produto atualizado com sucesso</div>
<% end %>