<%= form_with(model: energy) do |form| %>
  <% if energy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(energy.errors.count, "error") %> prohibited this energy from being saved:</h2>

      <ul>
        <% energy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label : description, style: "display: block" %>
    <%= form.text_field : description %>
  </div>

  <div>
    <%= form.label : consume_per_hour, style: "display: block" %>
    <%= form.text_field : consume_per_hour %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
