<p style="color: green"><%= notice %></p>

<%= render @energy %>

<div>
  <%= link_to "Edit this energy", edit_energy_path(@energy) %> |
  <%= link_to "Back to energies", energies_path %>

  <%= button_to "Destroy this energy", @energy, method: :delete %>
</div>
