<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Maxximiza | Precificação Empresarial" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
    
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>  </head>
  <body>
    <%= render "shared/horizontal_menu" %>
      <div class="main-content-application">
        <%= yield %>
      </div>
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
  </body>
</html>