<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Maxximiza | Precificação Empresarial" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet"
        href="<%= asset_path 'application.css' %>"
        as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    </noscript>

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= favicon_link_tag 'favicon.png', rel: 'icon', type: 'image/png' %>
    
    <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
  </head>
  <body>
    <div class="flash-bar" data-controller="notice">
      <% flash.each do |type, message| %>
        <% css_class =
          case type.to_sym
          when :notice then "notice-bar"
          when :alert  then "alert-bar"
          else "info-bar"
          end %>

        <div class="<%= css_class %>">
          <%= message %>
        </div>
      <% end %>
    </div>
    <%= render "shared/menu_top_bar" %>
    <%= render "shared/horizontal_menu" %>
    <%= render "layouts/sales_target_alert" %>
      <div class="main-content-application">
        <%= yield %>
      </div>
  </body>
</html>