<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <title><%= content_for?(:title) ? yield(:title) : "Maxximiza | Damos valor ao seu produto." %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <div class="auth-container">
    <!-- Lado direito: formulário Devise -->
    <div class="auth-form-wrapper">
      <%= yield %>
    </div>
  </div>

  <% if notice %>
    <div class="notice-bar" data-controller="notice">
      <%= notice %>
    </div>
  <% end %>
  
  <% if alert %>
      <div class="alert-bar" data-controller="notice">
        <%= alert %>
      </div>
  <% end %>
</body>
</html>